# Python Crash Course


Este cuaderno te guiara a traves de los siguientes topicos básicos:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if,elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

## Data types

### Numbers

In [1]:
1 + 1

2

In [2]:
1 * 3

3

In [3]:
1 / 2

0.5

In [4]:
2 ** 4

16

In [5]:
4 % 2

0

In [6]:
5 % 2

1

In [7]:
2 + 3 * 5 + 5

22

In [8]:
(2 + 3) * (5 + 5)

50

### Asignación de Variables

In [9]:
# Can not start with number or special characters
var = 2

In [10]:
var

2

In [11]:
x = 2
y = 3

In [12]:
z = x + y

In [13]:
z

5

In [14]:
x = x+x

In [15]:
x

4

No se puede crear una variable que empiece con un número o simbolos especiales

In [18]:
12var =12

SyntaxError: invalid syntax (<ipython-input-18-245174d29a8d>, line 1)

In [19]:
$hey = 3

SyntaxError: invalid syntax (<ipython-input-19-e4518f9b758b>, line 1)

In [20]:
mi_numero =4

### Strings

In [21]:
'single quotes'

'single quotes'

In [22]:
"double quotes"

'double quotes'

In [23]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

### Printing

In [24]:
x = 'hello'

In [25]:
x

'hello'

In [26]:
print(x)

hello

In [27]:
num = 12
name = 'Sam'

In [28]:
print('Mi número es: {uno}, y mi nombre es: {dos}'.format(uno=num,dos=name))

Mi número es: 12, y mi nombre es: Sam

In [29]:
print('Mi número es: {}, y mi nombre es: {}'.format(num,name))

Mi número es: 12, y mi nombre es: Sam

Indexing strings

In [30]:
s = 'abcdefghijk'

In [31]:
s[0]

'a'

In [32]:
s[1:3] #no incluye 3

'bc'

### Lists

Una lista es una estructura de datos y un tipo de dato en python con características especiales. Lo especial de las listas en Python es que nos permiten almacenar cualquier tipo de valor como enteros, cadenas y hasta otras funciones.

In [33]:
[1,2,3]

[1, 2, 3]

In [34]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [35]:
my_list = ['a','b','c']

In [36]:
my_list.append('d')

In [37]:
my_list

['a', 'b', 'c', 'd']

In [38]:
my_list.extend([2,5])

In [39]:
my_list

['a', 'b', 'c', 'd', 2, 5]

In [40]:
my_list[0]

'a'

In [41]:
my_list[1]

'b'

In [42]:
my_list[1:]

['b', 'c', 'd', 2, 5]

In [43]:
my_list[:1]

['a']

In [44]:
my_list[0] = 'NEW'

In [45]:
my_list

['NEW', 'b', 'c', 'd', 2, 5]

In [46]:
nest = [1,2,3,[4,5,['target']]]

In [47]:
nest[3]

[4, 5, ['target']]

In [48]:
nest[3][2]

['target']

In [49]:
nest[3][2][0]

'target'

In [50]:
my_list.remove(2)

### Dictionaries

Los diccionarios en Python son un tipo de estructuras de datos que permite guardar un conjunto no ordenado de pares clave-valor, siendo las claves únicas dentro de un mismo diccionario (es decir que no pueden existir dos elementos con una misma clave).

In [42]:
d = {'key1':'item1','key2':123}

In [43]:
d

{'key1': 'item1', 'key2': 123}

In [53]:
d['key2']

123

In [54]:
d['key1']

'item1'

In [55]:
d = {'k1':[1,2,3]}

In [56]:
d['k1'][1]

2

In [57]:
my_list = d['k1']

In [58]:
my_list

[1, 2, 3]

In [59]:
my_list[1]

2

In [60]:
d = {'k1':{'innerkey':[1,2,3]}}

In [61]:
d['k1']['innerkey'][1]

2

In [62]:
d

{'k1': {'innerkey': [1, 2, 3]}}

### Booleans

In [63]:
True

True

In [64]:
False

False

### Tuples

Es inmutable, así que una vez creada no puede ser modificado. A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets.

In [65]:
t = (1,2,3)

In [66]:
t[0]

1

In [67]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

Colección de elementos únicos

In [68]:
{1,2,3}

{1, 2, 3}

In [69]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

In [70]:
set([1,1,1,1,1,2,2,2,2,5,5,5,5,6,6,6,6])

{1, 2, 5, 6}

In [71]:
s= {1,2,3}

In [72]:
s.add(5)

In [73]:
s

{1, 2, 3, 5}

## Comparison Operators

In [74]:
1 > 2

False

In [75]:
1 < 2

True

In [76]:
1 >= 1

True

In [77]:
1 <= 4

True

In [78]:
1 == 1

True

In [79]:
'hi' == 'bye'

False

## Logic Operators

In [80]:
(1 > 2) and (2 < 3)

False

In [81]:
(1 > 2) or (2 < 3)

True

In [82]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [83]:
if 1 < 2:
    print('Yep!')

Yep!

In [84]:
if 1 < 2:
    print('yep!')

yep!

In [85]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [86]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [87]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for Loops

In [88]:
seq = [1,2,3,4,5]

In [89]:
for item in seq:
    print(item)

1
2
3
4
5

In [90]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [91]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## while Loops

In [1]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [2]:
range(5)

range(0, 5)

In [3]:
for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

In [5]:
x = [1,2,3,4]

In [6]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [7]:
out_2= [item**2 for item in x]

In [8]:
print(out_2)

[1, 4, 9, 16]

## functions

In [9]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [10]:
my_func #(what is this object)

In [11]:
my_func()

default

In [12]:
my_func('new param')

new param

In [13]:
my_func(param1='new param')

new param

In [14]:
def square(x):
    return x**2

In [15]:
out = square(2)

In [16]:
print(out)

4

In [17]:
def my_func2(name):
    print('Hello '+name)

In [18]:
my_func2('Jose')

Hello Jose

## lambda expressions

In [19]:
def times2(var):
    return var*2

In [20]:
times2(2)

4

In [21]:
lambda var: var*2

## map and filter

In [22]:
seq = [1,2,3,4,5]

In [23]:
#map

In [24]:
map(times2,seq)

In [25]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [26]:
def times2(var):    return var*2

In [27]:
times2(5)

10

In [28]:
lambda var: var*2

In [29]:
t= lambda var: var*2

In [30]:
t(6)

12

In [31]:
list(map(lambda var: var*3,seq))

[3, 6, 9, 12, 15]

In [32]:
filter(lambda item: item%2 == 0,seq)

In [33]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods

In [34]:
st = 'hello my name is Sam'

In [35]:
st.lower()

'hello my name is sam'

In [36]:
st.upper()

'HELLO MY NAME IS SAM'

In [37]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [38]:
tweet = 'Go Sports! #Sports'

In [39]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [40]:
tweet.split('#')[1]

'Sports'

In [41]:
d.items #tab

NameError: name 'd' is not defined

In [44]:
d.keys()

dict_keys(['key1', 'key2'])

In [45]:
d.items()

dict_items([('key1', 'item1'), ('key2', 123)])

In [46]:
lst = [1,2,3]

In [47]:
first =lst.pop(1)

In [48]:
lst

[1, 3]

In [49]:
'x' in [1,2,3]

False

In [50]:
'x' in ['x','y','z']

True

In [51]:
x =[(1,2),(3,4),(5,6)]

In [52]:
for item in x:
    print (item)

(1, 2)
(3, 4)
(5, 6)

Tuple unpacking

In [53]:
for a,b in x:
    print (a)

1
3
5

# Great Job!